html{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body, html{
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1620px;
    width: 100%;
}
.Diet-1{
    margin-top: 100px;
}
.Diet-1 h1{
    text-align: center;
}
.Diet-1 h1 a{
    text-decoration: none;
    color: black;
}
.Diet-1 p{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.Diet-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Diet-1 button{
    margin: auto;
    background: none;
    border: 2px solid black;
    padding: 5px 10px 5px 10px;
}
.Diet-1 button:hover{
    background-color: rgb(86, 148, 24);
    color: white;
}
td a{
    text-decoration: none;
    color: black;
}
button a{
    text-decoration: none;
    color: black;
}
button a:hover{
    color: white;
}
.flex-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 50px;
}
table{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 50px;
}
td{
    border: 1px solid black;
}
tr th{
    width: 50px;
}
.first-line{
    background-color: rgba(126, 252, 0, 0.356);
}
