<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>{{ title }}</title>
        
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'polls/main.css' %}">
    </head>
<body>
    <section class="Diet-1">
        {% for diet in diets %}
        <h1><a href="{% url 'update_diet' diet.id %}">
            {{ diet.name }}
            </a>
        </h1>
        <p>{{ diet.description }}</p>
        <ul>
            <h2>Дата начала диеты - {{ diet.start_date }}</h2>
            <h2>Стартовый вес - {{ diet.start_weight }}</h2>
        </ul>
        <table>
            {% for result in results %}
                {% if result.diet_id == diet.id %}
            <tr class="first-line">
                <th>Date</th>
                <th>Current weight</th>
                <th>Редактирование</th>
            </tr>
            <tr>
                <td>{{ result.current_date }}</td>
                <td>{{ result.current_weight }}</td>
                <td><a href="{% url 'update_result' result.id %}">Редактировать/удалить результат</a></td>
            </tr>   
        </table>
        <div class="flex-1">
            <button class="new-d"><a href="{% url 'create_result' diet.id %}">Добавить новый результат</a></button>
            <button><a href="{% url 'create_diet' %}">CREATE NEW DIET</a></button>
        </div>
        <!--куча олега-->
                {% endif %}
            {% endfor %}
        {% endfor %}
    </section>
